{% extends "layout.html" %}
{% block body %}
<center> <h1>Flask Tutorial</h1></center>

     <form action="/" class="myform" method="POST" >
         <input type="number" name="FS" placeholder="Fasting Sugar" required>
         <h4>Frequent Urination</h4>
         <select name="FU" id="FU">
            <option value="1">Yes</option>
            <option value="0">No</option>
         </select>
         <input type="submit" value="submit" class="btn">

      
     </form>
     {% if data: %}
   <center> <p style="color: {{ data[1] }} ;"> {{ data[0] }}</p></center>
     {% endif %}
 
{% endblock %}